
.cont {

    background-color: lightblue;
    height: 100vh;
    border: 1px solid;

}

.box {

border: 1px solid;

}

#arriba {

    height: 25vh;
    background-color: gold ;
    border: 1px solid;

}


#medio {

background-color: darkcyan;
height: 58.4vh;
border: 1px solid;
}

#cajamedio {

    background-color: brown;
    height: 58.4vh;
    border: 1px solid;

}

#upboxlog {

    background-color: aquamarine;
    height: 25vh;
    border: 1px solid;

}
#login {
background-color: lavenderblush;


}


#upboxloren {

background-color: lightblue;
height: 11.5vh;
border: 1px solid;

}

#lorem {

    background-color: black;
}


#bajo {
    height: 14.4vh;
    background-color: lightgray;
    border: 1px solid;


}

#textoycandado {
    height: 15vh;
    background-color: hotpink;
}

#arribatextocanda {
height: 7vh;
background-color: cadetblue;
}

#trescol{
    height: 6vh;
    background-color: moccasin;
    border: 1px solid;
}


#abajotexto {

height: 6vh;
background-color: lightgreen;

}

#logusupas {

height: 18vh;
background-color: coral;

}